<template>
    <div>
      <v-card v-if="blog.id" width="600">
          <v-img :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'" class="white--text" height="350px">
          <v-card-title class="fill-height align-end" v-text="blog.title"></v-card-title>
          </v-img>
          <v-card-text>
              <v-simple-table dense>
                  <tbody>
                      <tr>
                          <td><v-icon>mdi-format-title</v-icon>Judul</td>
                          <td class="blue--text" >{{ blog.title }}</td>
                      </tr>
                      <tr>
                          <td><v-icon>mdi-note</v-icon>Deskripsi</td>
                          <td>{{blog.description}}</td>
                      </tr>
                    
                  </tbody>
              </v-simple-table>
          </v-card-text>

          <v-file-input
                v-model="photo"
                label="Photo"
                filled
                prepend-icon="mdi-camera"
                accept="image/*"
                show-size
                truncate-length="50"
                ref="photo"
                type="file"
                v-if="this.token"
              ></v-file-input>
              <div v-if="this.token">
                  <v-btn @click="uploadPhoto()" class="success"><v-icon>mdi-camera-plus</v-icon> Upload Foto</v-btn>
              <v-btn v-if="!buttonStatus" @click="editBlog(blog)" class="primary"><v-icon>mdi-pencil </v-icon> Edit Blog</v-btn>
              <v-btn v-if="buttonStatus" @click="updateBlog()" class="primary"><v-icon>mdi-content-save-check</v-icon> Update</v-btn>
              <v-btn @click="deleteBlog()" class="error"><v-icon>mdi-delete</v-icon> Delete</v-btn>
              </div>
              
              <div v-show="buttonStatus == true ">
                    <v-text-field dark
                    v-model="title"
                    name="title"
                    append-icon="mdi-format-title"
                    label="Title :"
                    ref="title"
                    hide-details
                ></v-text-field>
                <v-text-field
                    v-model="description"
                    name="description"
                    append-icon="mdi-note"
                    label="Description :"
                    ref="description"
                    hide-details   
                ></v-text-field>
                </div>
        </v-card>  
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
    data: () =>({
        blog:{},
        apiDomain: 'https://demo-api-vue.sanbercloud.com',
        photo : [],
        title: '',
        description: '',
        buttonStatus: false,
    }),
    methods: {
        go(){
            let { id } = this.$route.params
            const config = {
                method : 'get',
                url : `${this.apiDomain}/api/v2/blog/${id}`
            }
            this.axios(config)
                .then(response =>{
                    let {blog} = response.data
                    this.blog = blog
                })
                .catch(error => {
                    console.log(error)
                })
        },
        uploadPhoto: function() {
            // let file = this.$refs.photo.files[0]
            let { id } = this.$route.params
            let formData = new FormData();
            formData.append("photo", this.photo);

            const config = {
            method: "post",
            url: `${this.apiDomain}/api/v2/blog/${id}/upload-photo`,
            data: formData,
            headers : {
                    'Authorization' : 'Bearer ' + this.token
                }
            };
            this.axios(config)
            .then((response) => {
                console.log(response.data.message);
                this.setAlert({
                status: true,
                color: "teal darken-1",
                text: "sukses upload foto.",
                });
                this.go()
            })
            .catch((response) => {
                console.log(response);
                this.setAlert({
                status: true,
                color: "error",
                text: "gagal upload foto.",
                });
            });
      },
      deleteBlog: function(){

          if(confirm('apakah anda yakin ingin menghapus?')){
            let { id } = this.$route.params
          
          const config = {
              method : 'post',
              url : `${this.apiDomain}/api/v2/blog/${id}`,
              params: { _method : "DELETE"},
              headers : {
                  'Authorization' : 'Bearer ' + this.token
              }

          }
          this.axios(config)
            .then((response)=>{
                console.log(response.data.message)
                this.setAlert({
                status: true,
                color: "success",
                text: 'Berhasil Mengapus',
                });
            })
            .catch((error)=>{
                console.log(error)
                this.setAlert({
                status: true,
                color: "success",
                text: 'Gagal Menghapus'
                });
            })
          }
      },
      
      editBlog: function(blog){
          this.title = blog.title;
          this.description = blog.description;
          this.buttonStatus = true

      },
      updateBlog: function(){
           let { id } = this.$route.params
            let formData = new FormData();
            formData.append("title", this.title);
            formData.append("description", this.description);

            const config = {
            method: "post",
            url: `${this.apiDomain}/api/v2/blog/${id}`,
            data: formData,
            params : { _method : 'PUT'},
            headers : {
                    'Authorization' : 'Bearer ' + this.token
                }
            };
            this.axios(config)
            .then((response) => {
                console.log(response.data.message);
                this.blog=response.data.blog
                this.setAlert({
                status: true,
                color: "teal darken-1",
                text: "sukses update.",
                });
                this.buttonStatus = false
                // this.go()
            })
            .catch((response) => {
                console.log(response);
                this.setAlert({
                status: true,
                color: "error",
                text: "gagal update.",
                });
            });
      },
      ...mapActions({
        setAlert : 'alert/set',
        setToken : 'auth/setToken',
      })
      
    },
    computed : {
    ...mapGetters({
      token: 'auth/token',
    })
    },
    created(){
        this.go()
    }
    
}
</script>