<template>
<v-container>
      <v-form  @submit.prevent="submitForm()">
        <v-label>Form Pengisian Blog</v-label>
            <v-text-field
            v-model="title"
            label="Title"
            ref="title"
            type="text"
            required
            ></v-text-field>
            <v-text-field
            v-model="description"
            label="Description"
            ref="description"
            type="text"
            required
            ></v-text-field>
            <div class="text-xs-center">
                <v-btn
                color="succes lighten-1"
                @click="submitForm()"
                >
                    Submit
                </v-btn>
            </div>
        </v-form>

    <!-- <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">
            Title
          </th>
          <th class="text-left">
            Description
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="blog in blogs"
          :key="blog"
        >
          <td>{{ blog.title }}</td>
          <td>{{ blog.description }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table> -->
</v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  data : () => ( {
    apiDomain: 'https://demo-api-vue.sanbercloud.com',
    blogs: [],
    title : '',
    description : '',
  }),
  methods: {
    submitForm : function(){
          
            let formData = new FormData()
            formData.append('title' , this.title)
            formData.append('description' , this.description)

            const config = {
              method : "post",
              url : this.apiDomain + '/api/v2/blog',
              data : formData,
              headers : {
                    'Authorization' : 'Bearer ' + this.token
                }
            }

            this.axios(config)
              .then( (response) => {
                console.log(response.data.message)
                this.setAlert({
                        status : true,
                        color : 'success',
                        text : 'Berhasil menambah Blog'
                    })
              })
              .catch( (error) => {
                console.log(this.token)
                this.setAlert({
                        status : true,
                        color : 'success',
                        text : error
                    })
              })
           
        },
      ...mapActions({
        setAlert : 'alert/set',
        setToken : 'auth/setToken',
      })
      //   getBlogs : function(){
            
      //       const config = {
      //         method : 'get',
      //         url : this.apiDomain + '/api/v2/blog',
      //       }

      //       axios(config)
      //         .then((response) => {
      //           console.log(response.data.blogs)
      //           this.blogs = response.data.blogs
                
      //         })
      //         .catch( (error) => {
      //           console.log(error)
      //         })

          
      //   },
      //   created(){
      //    this.getBlogs()
      //  }
   
  },
  computed : {
    ...mapGetters({
      token: 'auth/token',
    })
  }
}
</script>