<template>
    <v-container>
        <v-layout style="margin-top: 50px">
            <v-flex sm12 md6 offset-md3>
                <v-card>
                    <v-col md="12">
                        <v-row>
                            <v-text-field
                                v-model="email"
                                label="Email"
                                required
                                append-icon="mdi-email"
                                :rules="emailRules"
                            >
                            </v-text-field>
                        </v-row>
                    </v-col>

                    <v-col md="12">
                        <v-btn color="primary">kirim email</v-btn>
                    </v-col>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>