<template>
    <v-container>
        <v-layout wrap style="margin-top: 50px">
            <v-flex sm12 md6 offset-md3>
                <v-card>
                    <v-col>
                                <v-text-field v-model="password"
                                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                    :type="showPassword ? 'text' : 'password'"
                                    label="Password Baru"
                                    counter
                                    :rules="passwordRules"
                                    @click:append="showPassword = !showPassword"
                                ></v-text-field>

                                <v-text-field v-model="password"
                                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                    :type="showPassword ? 'text' : 'password'"
                                    label="Ulangi Password Baru"
                                    counter
                                    :rules="passwordRules"
                                    @click:append="showPassword = !showPassword"
                                ></v-text-field>
                    </v-col>

                    <v-col>
                        <v-btn color="primary">Reset Password</v-btn>
                    </v-col>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>