<template>
<div>
          <v-card
           :to="'/blog/'+ blog.id" 
           class="mx-2 my-4"
           width="350"
           >
            <v-img
              :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'"
              class="white--text"
              height="250px"
              >
            </v-img>
            <v-card-title
              class="fill-height align-end"
              v-text="blog.title"
              ></v-card-title>
            <v-divider class="mx-4"></v-divider>
            <v-card-text>
              {{ blog.description.substring(0,50) }}...
            </v-card-text>
          </v-card>
  </div>
</template>
<script>
export default {
    data : () => ({
        apiDomain: 'https://demo-api-vue.sanbercloud.com'
    }),
    props : ['blog']
}
</script>