<template>
    <v-card>
        <v-toolbar dark color="succes">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Login</v-toolbar-title>
        </v-toolbar>
   
    <v-container fluid>
        <v-form ref="form">
            <v-text-field
            v-model="email"
            label="E-mail"
            required
            append-icon="mdi-email"
            ></v-text-field>
            <v-text-field
            v-model="password"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'text' : 'password'"
            label="Password"
            counter
            @click:append="showPassword = !showPassword"
            ></v-text-field>
            <div class="text-xs-center">
                <v-btn
                color="primary"
                @click="submit"
                >
                    Login
                <v-icon right dark>mdi-lock-open</v-icon>
                </v-btn>
            </div>
            <v-container></v-container>
            <p>Lupa password ?</p> <router-link to="/lupa-password">klik disini</router-link>
            <v-container></v-container>
            <v-container></v-container>
            <div class="text-xs-center ">
              Belum punya akun?
              <v-btn color="success lighten-1" @click="register">
                Register
              </v-btn>
            </div>
        </v-form>
        
    </v-container>
     </v-card>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    data(){
        return {
            email : '',
            showPassword : false,
            password : '',
            apiDomain : 'https://demo-api-vue.sanbercloud.com'
        }
    },
    methods : {
        ...mapActions({
            setAlert : 'alert/set',
            setToken : 'auth/setToken',
            setDialogComponent: "dialog/setComponent",
        }),

        
        close(){
            this.$emit('closed',false)
        },
        submit(){
            const config = {
                method : 'post',
                url : this.apiDomain + '/api/v2/auth/login',
                data : {
                    'email' : this.email,
                    'password' : this.password
                }
            }
            this.axios(config)
                .then((response) => {
                    this.setToken(response.data.access_token)
                    console.log(response.data)
                    this.setAlert({
                        status : true,
                        color : 'success',
                        text : 'login berhasil'
                    })
                    this.close()
                })
                .catch((response) => {
                    console.log(response)
                    this.setAlert({
                        status : true,
                        color : 'error',
                        text : 'login gagal'
                    })
                })
        },
        register() {
            this.setDialogComponent({ component: "register" });
        },
    }
}
</script>